version: '3'
services:
  eggoss:
    build: .
    image: gcslaoli/eggoss
    # restart: always
    volumes:
      - ./data/public/:/app/app/public/
    environment:
      # TZ: Asia/Shanghai # 指定时区 默认值 'Asia/Shanghai'
      accessKeySecret: "12345678" # 配置accessKeySecret 默认值'www.lidong.xin'
      fileSize: "100mb" # 最大上传文件大小，默认值 100mb
      allowAnonymous: "true" # 是否允许匿名上传 默认值 false
      protocal: "http" # 返回值中 url协议头 可选 'http' 或 'https' 默认值 'https'
    ports:
      - 7001:7001
  eggoss-aliyun:
    build: .
    image: registry.cn-beijing.aliyuncs.com/gcslaoli/eggoss